@media (max-width: 1120px) {
  .slider_section .carousel_btn-container {
    bottom: 0;
  }
  .marketResearch{
    padding-left: 60px;
  }
  .grivo {
    padding-left:130px ;
    font-weight: bold;
    font-size: 0.7em;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    align-items: center;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    margin: 15px 30px;
  }

  .achieve_section .achieve_container {
    flex-wrap: wrap;
  }
  .achieve_section .achieve_container1 {
    /* text-align: center;
    display: inline-block; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .achieve_section .achieve_container2 {
    /* text-align: center;
    display: inline-block; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .achieve_section .achieve_container4 {
    /* text-align: center;
    display: inline-block; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .achieve_section .achieve_container5 {
    /* text-align: center;
    display: inline-block; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .achieve_section .achieve_container6 {
    /* text-align: center;
    display: inline-block; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .achieve_section .achieve_container7 {
    /* text-align: center;
    display: inline-block; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .achieve_section .achieve_container8 {
    /* text-align: center;
    display: inline-block; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .achieve_section .achieve_container9 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    height: 130px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .achieve_section .achieve_container10 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            
  }
  
  
.navbar-brand2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand2 img {
  width: 20px;
  margin-right: 5px;
  margin-left: auto;
  margin-right: 5px;
}

.navbar-brand2 span {
  font-size: 15px;
  font-weight: 700;
  color: #df1234;
  margin-right: 50px;
  text-transform: uppercase;
}
  

  .info_section .info_container {
    width: 100%;
  }

  .footer_section p {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero_area {
    height: auto;
  }

  .slider_section {
    /* padding-top: 20px; */
    /* height: 100vh; */
  }

  .slider_section .detail_box {
    text-align: center;
    margin-bottom: 35px;
  }
  .slider_section .detail_box1 {
    text-align:left;
    margin-bottom: 35px;
  }

  .slider_section .detail_box {
    padding: 0;
  }

  .about_section .box .img-box {
    width: 40%;
  }

  .portfolio_section .portfolio_container {
    flex-direction: column;
  }

  .contact_section .bg-img1 {
    width: 75px;
    position: absolute;
    top: 0;
    right: 0px;
  }

  .client_section .col-md-3 {
    justify-content: center;
  }

  .client_section .detail-box {
    margin-bottom: 35px;
  }
  .detail-box{
    margin: auto;
  }

  .client_section .row {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 576px) {
  .heading_container h2::before {
    top: -15px;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
  }

  .client_section .detail-box {
    margin-left: 0;
    margin-right: 0;

  }
}

@media (max-width: 480px) {}

@media (max-width: 420px) {
  .slider_section .detail_box h1 {
    font-size: 2rem;
    height: 100vh;
  }
  .home {
    font-size: 30px;
    padding-top: 10px;
  }
  .marketList{
    padding-left: 150px;
  }

  .portfolio_section .portfolio_container .box-2-btm {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .grivo {
    padding-left:130px ;
    font-weight: bold;
    font-size: 1em;
  }
}
@media screen and (max-width: 480px) {
  .back-to-top {
    visibility: hidden;
  }
  .home {
    font-size: 50px;
    padding-top: auto;
  }
  .home-elementor {
    color: #df1234;
    font-size: 25px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .home2{
    font-size: 30px;
  }
  .font-arch{
    font-size: 1.2em;
  }
  .grivo {
    padding-left:130px ;
    font-weight: bold;
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

